services:
  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"
  postgres:
    image: postgres:17-alpine
    ports:
      - 5432:5432
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=qwerty
      - POSTGRES_USER=postgres
      - POSTGRES_DB=slack_manager
